{{!-- STARTER CODE IS BELOW --}}
{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <h2>Sign Up</h2>
    <form class="form signup-form">

      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>

      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>

      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>


</div> --}}

{{!-- TAILWINDCSS CODE IS BELOW --}}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  {{!-- logo --}}
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <a href="/">
      <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
        alt="The Tip Jar">
    </a>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign In To Your Tip Jar
      Account
    </h2>
  </div>

  {{!-- LOGIN FORM --}}
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="form login-form">

      <div>
        <label for="email-login" class="form-group block text-sm font-medium leading-6 text-gray-900">Email
          Address</label>
        <div class="mt-2">
          <input id="email-login" name="email" type="email" autocomplete="email" required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password-login" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
        </div>
        <div class="form-group mt-2">
          <input id="password-login" name="password" type="password" autocomplete="current-password" required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      {{!-- LOGIN BUTTON --}}
      <div class="form-group">
        <button type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
          in</button>
      </div>

      {{!-- SIGNUP REDIRECTION --}}
    </form>
    <p class="mt-10 text-center text-sm text-gray-500">
      Don't have an account?
      <a href="/signup" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sing up here.</a>
    </p>
  </div>

  <script src="./js/login.js"></script>
</div>